<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administracindecondominios">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity_EstadoDeCuenta" />
        <activity android:name=".MainActivity_ReservasGuardadas" />
        <activity android:name=".MainActivity_CalendarioReserva" />
        <activity android:name=".MainActivity_spinner" />
        <activity android:name=".MainActivity2_Menu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Administración de Condominios"
            tools:replace="android:label" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" /> <!-- //Poner la linea de navegación para devolverse al menú -->
        <activity
            android:name=".MainActivity_Reservadesalon"
            android:parentActivityName=".MainActivity2_Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administracindecondominios.MainActivity2_Menu" />
        </activity> <!-- //Poner la linea de navegación para devolverse al menú -->
        <activity
            android:name=".MainActivity_Estadodecuenta"
            android:parentActivityName=".MainActivity2_Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administracindecondominios.MainActivity2_Menu" />
        </activity> <!-- //Poner la linea de navegación para devolverse al menú -->
        <activity
            android:name=".MainActivity_Configuracion"
            android:parentActivityName=".MainActivity2_Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administracindecondominios.MainActivity2_Menu" />
        </activity> <!-- //Poner la linea de navegación para devolverse al -->
        <activity
            android:name=".MainActivity_Avisos"
            android:parentActivityName=".MainActivity2_Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administracindecondominios.MainActivity2_Menu" />
        </activity> <!-- Dialogo -->
        <activity
            android:name=".MainActivity_DialogoDetalles"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
    </application>

</manifest>